* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.input {
  height: 1.5rem;
}

.todo-lists__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 80%;
  grid-auto-rows: minmax(550px, auto);
}

.todo-list__container {
  border: 1px solid #999999;
  border-radius: 5px;
  background-color: #f0f0f0
}

.todo-list__container h3 {
  margin: 10px;
}

.todo-list__container h4 {
  margin: 10px;
}


.todo-list li {
  display: flex;
  background-color: #e6e2d3;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 5px;
}

.todo-list span {
  height: 2rem;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}



.delete-btn {
  background-color: #c94c4c;
}
.edit-btn {
  background-color: #008cba;
}
.move-btn {
  background-color: #4caf50;
} 

/* form */
.form {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
  margin: 0 auto;
}

.submit-btn {
  background-color: #008cba;
}

.input {
  height: 2rem;
}
.input:focus {
  outline: none;
}




.todo-list span:focus {
  outline: none;
}

.todo-list button,
.submit-btn {
  border: none;
  height: 2rem;
  width: 3rem;
  border-radius: 5px;
  margin: 0 5px;
  color: white;
}


.todo-list li span {
  flex-grow: 1;
  text-align: center;
}
